body {background-image:url("ai-and-global-security-hero-allen.jpg");
        background-repeat: no-repeat;
        background-size:cover;
}

header {
        font-weight: bold;
        font-size: 50px;
        font-family: "Impact", Times, serif;
        text-align: left;
        text-indent: 60px;
        padding: 5px;
}

header span {
    background: rgba(199, 199, 199, 0.7);
}

.intro {
    height: 400px;
    background: rgba(199, 199, 199, 0.7);
    margin: auto;
    padding: 15px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 19px;

}

.tableofcontents {
    font-size: 20px;
}

.header1 {
    color: white;
}

.lists {
    background: white;
    width: 50%;
    opacity: 0.6;
}

.reasons {
    width: 90%;
    height: 3050px;
    background: rgba(199, 199, 199, 0.7);
    margin: auto;
    padding: 10px;
}

.treatment {
        height: 550px;
        background: rgba(199, 199, 199, 0.7);
        float: left;
    text-align: center;
    text-indent: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    width: 100%;
}

.why {
        height: 600px;
        background: rgba(199, 199, 199, 0.7);
        float: left;
    text-align: center;
    text-indent: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    width: 100%;
}

.btn-group button {
    background: rgba(199, 199, 199, 0.7);
    border: 3px black; /* Green border */
    color: white; /* White text */
    font-size: 24px;
    text-align: center;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color:darkgrey;
}

.suggestions {
        height: 700px;
        background: rgba(199, 199, 199, 0.7);
        float: left;
    text-align: center;
    text-indent: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    width: 100%;
    padding: 5px;
}

.medical {
        height: 750px;
        background: rgba(199, 199, 199, 0.7);
        float: left;
    text-align: center;
    text-indent: 20px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    width: 100%;
    padding: 5px;
}

.header2 {
    text-align: center;
}

.center img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

h1 {
    text-indent: 140px;
}

.ending button {
    background: rgba(199, 199, 199, 0.7);
    border: 3px black; /* Green border */
    color: white; /* White text */
    font-size: 24px;
    text-align: center;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.ending button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.ending:after {
    content: "";
    clear: both;
    display: table;
}

.ending button:hover {
    background-color:darkgrey;
}