<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="../css/style_author.css">
<style>
    </style>
</head>
<body>
    <br>
    <br>
    <header style="color:white"><span>  About the Authors  </span></header>
    <br>
    
<div class="info" style="width: 1200px;">
 <div class="jeff" style="float: left; width: 400px;">
     <br>
     Jeffrey Mei
          <br>
     <img class="center" width="300" src="../images/jeff.jpg">
    <p>
        2020
        <br>
        Computer Science
     </p>
    </div>
 <div class="nishanth" style="float: left; width: 400px;">
          <br>
     Nishanth Shah
     <br>
     <img class="center" width="300" src="../images/nishanth.jpg">
        <p>
        2018
        <br>
        Statistics
     </p>
    </div>
 <div class="johnny" style="float: left; width: 400px;">
          <br>
     Johnny James
     <br>
          <img class="center" width="300" src="../images/johnny.jpg">
        <p>
        2018
        <br>
        Business
     </p>
    </div>
 <br style="clear: left;" />
</div>
    
<br>
<br>
<br>
<br>
<br>
    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Go Back</button></a>
    </div>
</body>
</html>