<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to AI</title>
    <link rel="stylesheet" href="../css/intro.css">
</head>
<body>
    <br>
    <br>
    <header style="color:white"><span>  What is Artificial Intelligence?  </span></header>
    <br>
    <br>
        <div class="btn-group">
        <a href="introduction.html"><button style="width:20%">What is AI?</button></a>
        <a href="impact.html"><button style="width:20%">Valuable Applications</button></a>
        <a href="uses.html"><button style="width:20%">Uses in Healthcare</button></a>
        <a href="ethics.html"><button style="width:20%">Ethical Issues</button></a>
        <a href="test.html"><button style="width:20%">Test your knowledge!</button></a>    
    </div>
    <br>
    <br>
    
    <h1 class="definition">
    So what exactly is artificial intelligence?
    </h1>
    <h3 class="definition2">
    It is the theory and development of computer systems able to perform tasks that normally require human intelligence
    </h3>
    
    <br>
    <br>
    <section class="container">
    <div class="one">
    <br>
        <p>Today, AI is all around us. Think back to the last time you called an Uber or searched for something on Google. You used Artificial Intelligence. In an age of “big data”, where humans have the capacity to collect large sums of information, artificial intelligence is becoming increasingly important in order to understand the vast 
            <br>
            amount of data that is available to us. The power of AI has led to significant improvements in a variety of industries, including technology, marketing, and healthcare. Recent interest in AI has been driven by advances in machine learning, in which computer algorithms <a href="https://ai100.stanford.edu/ ">learn</a> from data without human direction. There is anticipation that advances in AI will continue to accelerate: a 
            recent survey of leading AI researchers predicted that, within the next 10 years, AI will outperform humans 
            in transcribing speech, translating languages, and driving a truck. What potential does AI have in the healthcare industry? </p>
        </div>

    <div class="two">
        <br>
        <br>
        <br>
        <img class="left" width="600" src="../images/120314digitsbrain_1280x720.jpg">
        </div>
    </section>
    <br>
    <br>
    <img class="center" width="1200" src="../images/Artificial-Intelligence-AI-Timeline-Infographic.jpeg">

    
    
<br>
<br>
    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Go Home</button></a>
    </div>
<br>
</body>
</html>