<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heading Page</title>
    <link rel="stylesheet" href="../css/style_robot.css">
</head>
<body>
    <br>
    <br>
    <header style="color:white"><span>  Impact in Healthcare Field  </span></header>
    <br>
    <br>
    
    <div class="navbar">
  <a href="impact.html">Previous: Impact in Healthcare Field</a>
  <a href="#news">Next: Virtual Nursing Assistant</a>
  <div class="dropdown">
  </div> 
</div>
    <br>
    
    <section class="reasons">
    <div class="why">
        <h2>Computer Vision</h2>
        <p>
        Below is a video about how machine learning, a subset of AI, has transformed image analysis for doctors
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YlVoTix1wok" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>
            There have been many breakthroughs in computer vision because of AI, spurred by Microsoft’s InnerEye initiative in 2010. 
            <br>
            Microsoft’s InnerEye project develops machine learning techniques to precisely display tumors and healthy tissue inside 
            <br>
            the human body. This project leads to faster radiotherapy planning and precise navigation during surgery. 
        </p>
        </div>
        <hr>
    <div class="suggestions">
        <h2 class="header2">Wearable Computing</h2>
            Artificial intelligence has begun to be integrated with wearable computing. Wearable computing benefits health care related applications in the following specific ways:
            <br>
            <ul style="list-style-type:square">
            <li>
                Unobtrusive wearable sensors allow the monitoring of physiological parameters to be conducted over long term and in a patient's natural environment. Long term data like this are better assessments of patients than individual lab measurements 
                </li>
                <li>
                Wearable systems allow users to take an active role in health management and prevention, helping people adjust their lifestyles as needed to improve their health 
                </li>
            </ul>
        </div>
        <hr>
        
        <div class="medical">
        <h2 class="header2">Suggestions for Treatment</h2>
        <p>
            By serving as an extension of scientific knowledge, machines have begun to aid doctors in making the right decisions about diagnosis and treatment
            <br>
            <br>
A team of physicians and analysts at Sloane Kettering have been training IBM Watson to be able to choose the best treatment plans for individual patients using AI. In essence, Watson suggests treatment plans based on what has worked best in the past, giving doctors information about unique future cancer cases.
            </p>
            
        </div>
        
    </section>
    
    <br>
    <br>
<br>
<br>
    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Go Home</button></a>
    </div>
<br>
</body>
</html>