<!DOCTYPE html>
<html lang="en">
  <title> Data Collector App</title>
  <head>
          <link rel="stylesheet" href="../css/style_feedback.css">
  </head>
    <body>
      <div class="container">
          <br>
          <br>
        <p> Thank you for your submission! <br>
          You will receive an email with the survey results shortly.
        </p>
      </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Back to home</button></a>
    </div>

    </body>

</html>