<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A.I Quiz</title>
    <link rel="stylesheet" href="../css/style_test.css">
</head>
<body>
    <br>
    <br>
    <header style="color:white"><span>  Test Your Knowledge!  </span></header>
    <br>
    <br>
        <div class="btn-group">
        <a href="introduction.html"><button style="width:20%">What is AI?</button></a>
        <a href="impact.html"><button style="width:20%">Valuable Applications</button></a>
        <a href="uses.html"><button style="width:20%">Uses in Healthcare</button></a>
        <a href="ethics.html"><button style="width:20%">Ethical Issues</button></a>
        <a href="test.html"><button style="width:20%">Test your knowledge!</button></a> 
    </div>
    <br>
    
    <section class="reasons">
    
        <h3>Artificial Intelligence in Healthcare Quiz</h3>

<form method="post" action="answer.php">

Check the answer to each multiple-coice question, and click on the "Check Your Score!" button to submit the information.

    <!-- What is a potential drawback to robot assisted surgery?
not accurate enough
too expensive to purchase machine
procedures may take too long
increased risk of infection in patient


 -->
    
<P>1. What was the man most commonly associated with the birth of AI?<BR>
<input type="radio" name="question-1-answer" value="maison"/>Steve Jobs<BR>
<input type="radio" name="question-1-answer" value="1"/>John McCarthy<BR>
<input type="radio" name="question-1-answer" value="soleil"/>Albert Einstein<BR>
<input type="radio" name="question-1-answer" value="poisson"/>Alan Turing <BR>
</p>

<P>2. If all the data in the digital healthcare universe were loaded onto the memory in a stack of tablets, how high would the stack be?<BR>
<input type="radio" name="question-2-answer" value="maison"/>12 feet<BR>
<input type="radio" name="question-2-answer" value="valise"/>13 miles<BR>
<input type="radio" name="question-2-answer" value="2"/>5500 miles<BR>
<input type="radio" name="question-2-answer" value="poisson"/>62000 miles<BR>
</p>

<P>3. According to the International Data Corporation, approximately how much percent of healthcare data is currently not secure?<BR>
<input type="radio" name="question-3-answer" value="3"/>43%<BR>
<input type="radio" name="question-3-answer" value="valise"/>18%<BR>
<input type="radio" name="question-3-answer" value="soleil"/>62%<BR>
<input type="radio" name="question-3-answer" value="poisson"/>23%<BR>
</p>
    
<P>4. Artificial intelligence is a subset of machine learning.<BR>
<input type="radio" name="question-4-answer" value="valise"/>True<BR>
<input type="radio" name="question-4-answer" value="4"/>False<BR>
</p>
    
<P>5. Artificial Intelligence used in the healthcare industry could significantly reduce the number of deaths suffered to cancer. <BR>
<input type="radio" name="question-5-answer" value="5"/>True<BR>
<input type="radio" name="question-5-answer" value="valise"/>False<BR>
</p>

<P>6. What is a potential drawback to robot assisted surgery? <BR>
<input type="radio" name="question-6-answer" value="maison"/>not accurate enough<BR>
<input type="radio" name="question-6-answer" value="6"/>too expensive to purchase machine<BR>
<input type="radio" name="question-6-answer" value="2"/>procedures may take too long<BR>
<input type="radio" name="question-6-answer" value="poisson"/>increased risk of infection in patient<BR>
</p>    

<br>
<br>
<br>
<br>
<!-- <input type="submit" value="Check Your Score"> -->
<button class="submitbutton" type="submit"> Submit Response </button>
<button class="resetbutton" type="reset"> Clear Response</button>
</form>
        
    </section>
    
    <br>
    <br>
<br>
<br>
    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Go Home</button></a>
    </div>
<br>
</body>
</html>