<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to AI</title>
    <link rel="stylesheet" href="../css/style_workscited.css">
</head>
<body>
    <br>
    <br>
    <header style="color:white"><span>Works Cited</span></header>
    <br>
    <br>
    <section class="container">
        <div class="one">
            <br>
            <br>
        Anyoha, Rockwell. “The History of Artificial Intelligence.” Science in the News, Harvard University, 28 Aug. 2017, sitn.hms.harvard.edu/flash/2017/history-artificial-intelligence/.
            <br>
            <br>
“Artificial Intelligence in Healthcare Makes a Difference.” Nuance Communications, Nuance Communications, Inc., 2018, www.nuance.com/healthcare/artificial-intelligence.html.
              <br>
            <br>

Barbash, Gabriel I., and Sherry A. Glied. “New Technology and Health Care Costs â The Case of Robot-Assisted Surgery.” New England Journal of Medicine, vol. 363, no. 8, 2010, pp. 701–704., doi:10.1056/nejmp1006602.
              <br>
            <br>

Chen, Tiffany, and Charles Kemp. “Lead Me by the Hand: Evaluation of a Direct Physical Interface for Nursing Assistant Robots - IEEE Conference Publication.” IEEE Explore, doi:10.1109/HRI.2010.5453162.
              <br>
            <br>

Collier, Michael. “Artificial Intelligence: Healthcare’s New Nervous System.” Accenture Healtch, 2017, pp. 1–8., www.accenture.com/us-en/insight-artificial-intelligence-healthcare.
              <br>
            <br>

Criminisi, Antonio, and Javier Alvarez-Valle. “Project InnerEye - Medical Imaging AI to Empower Clinicians - Microsoft Research.” Microsoft Store, Microsoft Research, 7 Oct. 2008, www.microsoft.com/en-us/research/project/medical-image-analysis/.
              <br>
            <br>

“The Digital Universe and Driving Data Growth in Healthcare.” EMC Digital Universe, 2014, www.emc.com/analyst-report/digital-universe-healthcare-vertical-report-ar.pdf.
              <br>
            <br>

Esteva, A. et al. Dermatologist-level classification of skin cancer with deep neural networks. Nature 542, 115–118 (2017).
              <br>
            <br>

Faggella, Daniel. “Machine Learning Healthcare Applications - 2018 and Beyond.”TechEmergence, TechEmergence, 22 Mar. 2018, www.techemergence.com/machine-learning-healthcare-applications/.
              <br>
            <br>

Fogel, Alexander L., and Joseph C. Kvedar. “Artificial Intelligence Powers Digital Medicine.”Nature News, Nature Publishing Group, 14 Mar. 2018, www.nature.com/articles/s41746-017-0012-2.
Grace, K., Salvatier, J., Dafoe, A., Zhang, B. & Evans, O. When will AI exceed human performance? Evidence from AI experts. arXiv. Online. (2017).
              <br>
            <br>

Kimball, A. B. & Resneck, J. S. Jr. The US dermatology workforce: a specialty remains in shortage. J. Am. Acad. Dermatol. 59, 741–745 (2008).
              <br>
            <br>

Lukowicz, Paul. “Wearable Computing and Artificial Intelligence for Healthcare Applications.”Egyptian Journal of Medical Human Genetics, Elsevier, 1 Feb. 2008, www.sciencedirect.com/science/article/pii/S0933365707001649.
              <br>
            <br>

Marsden, Paul. “Artificial Intelligence Timeline Infographic – From Eliza to Tay and Beyond.”Digital Intelligence Today, Digital Intelligence Today, 18 Aug. 2017, digitalintelligencetoday.com/artificial-intelligence-timeline-infographic-from-eliza-to-tay-and-beyond/.
              <br>
            <br>

“National Center for Health Statistics.” Centers for Disease Control and Prevention, 31 Mar. 2017, www.cdc.gov/nchs/fastats/electronic-medical-records.htm.
              <br>
            <br>

“National Health Expenditure Accounts”. Center for Medicare and Medicaid Services. 1960-2016.  
              <br>
            <br>

Patil, Harsh Kupwade, and Ravi Seshadri. “Big Data Security and Privacy Issues in Healthcare.” 2014 IEEE International Congress on Big Data, 2014, doi:10.1109/bigdata.congress.2014.112.
              <br>
            <br>

Rogers, H. W., Weinstock, M. A., Feldman, S. R. & Coldiron, B. M. Incidence estimate of nonmelanoma skin cancer (keratinocyte carcinomas) in the U.S. population, 2012. JAMA Dermatol. 151, 1081–1086 (2015).
              <br>
            <br>

Rosseter, Robert. “Nursing Shortage Fact Sheet.” American Association of Colleges of Nursing, 18 May 2017.
              <br>
            <br>

Silver, Nate. The Signal and the Noise: Why so Many Predictions Fail--but Some Don't. Penguin Books, 2015.
              <br>
            <br>

“Watson Oncology.” Memorial Sloan Kettering, Memorial Sloan Kettering Cancer Center, 2018, www.mskcc.org/about/innovative-collaborations/watson-oncology.
              <br>
            <br>

        
        
        </div>
        
    </section>
<br>
<br>
    <div class="ending">
    <a href="finalexam.html"><button style="width:20%">Go Home</button></a>
    </div>
<br>
</body>
</html>